@import url(https://fonts.googleapis.com/css?family=Bitter);

header, nav, section, footer	{
	display: block;
}



body	{
	font-family: "Bitter", Verdana, Arial, Helvetica, sans-serif; 
	font-size: 100%;
	margin:	0;
	background-color: #FFFCD0;
	width: 760px;
	display: block;
	margin: 0 auto;
	/* text-align: center; */
}

#centermaker {
	width: 960px;
	margin: 0 auto;
/* text-align: left; */
}

#wrapper	{
	max-width: 760px;
	margin:	0 auto;
	background-color: #FFFFFF;
	/* background-color: rgba(255,255,255,0.85)*/
}

#menutoggle	{
	display: none;
}

.nav-collapse	{
	clear: both;
	background-color: #FFFCD0;
	line-height: 30px;
	width: 1100px;
}

.nav-collapse ul	{
	margin: 5px 0;
	padding-left: 0;
	text-align: center; 
	}

.nav-collapse ul li	{
	list-style-type: none;
	display: inline;
}

.nav-collapse a:link, .nav-collapse a:visited	{
	color: #000000;
	text-decoration: none;
	padding: 2px 45px;
}

.nav-collapse a:hover	{
	background-color: #CEE8D7;
	height: 6px;
	transition: .5s;
}

header, section, footer	{
	padding: 0 20px;
}

header a:link, section a:link {
	color: #000000;
}

header a:visited, section a:visited {
	color: #aaa;
}

header a:hover, section a:hover {
	text-decoration: none;
}

hr. margin {
	margin-top: 30px;
	margin-bottom: 40px;
}

hr {
	border-color: #000000;
	border-style: solid;
	border-width: 3px;
	clear: both;
}


h1	{
	font-size: 300%;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px #bbb;
	margin-bottom: 0;
	text-align: center;
	color: #000000;
}

header address	{
	margin-top: 0;
}

address	{
	font-style: normal; 
}

abbr[title] {
	text-decoration: none;
}

abbr	{
	border-bottom: 1px dotted #CEE8D7;
	cursor: help;
}

section padding{
	margin-top:	0;
	margin-bottom: 4px;
}

h2	{
	font-size: 200%;
	margin-bottom: 4px;
	text-align: center;
}

h3	{
	margin-top: 0;
	margin-bottom: 10px;
}

h4	{
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
}

section ul	{
	margin-top: 16px;
	margin-bottom: 4px;
}

.title {
	font-weight: bold;
}

.place {
	font-style: italic;
}

.col {
	float: left;
	width: 32%;
	margin-right: 1%;
	margin-bottom: 40px;
}


div {
	display: block;
}

#ref address{
	margin-top: 0;
	margin-bottom: 10px;
}

#icons a {
	display: inline-block;
	height: 25px;
	width: 25px;
	padding: 0;
	margin: 0;
}

footer	{
	text-align: center; 
	margin-top:	40px;
	font-size: 80%;
	background-color: #FFFCD0;
	padding-top: 4px;
	padding-bottom: 4px;
	height: 1000px;
}


footer p	{
	margin-top: 0;
	margin-bottom: 0;
}

footer a	{
	color: #000000;
	
}

@media screen and (max-width:800px) {
	
	#menutoggle{
		display: initial;
		cursor: pointer;
	}
	
	.nav-collapse ul {
		margin: 0;
	}
	
	.nav-collapse ul li {
		display: block;
	}
	
	.nav-collapse a:link, .nav-collapse a:visited {
		display: block;
		padding: 0;
	}
	
	.nav-collapse a:hover {
		height: 100%;
	}
	
}

@media screen and (max-width:700px) {
	
	header {
		text-align: center;
		border-bottom: solid 2px #000;
		padding-bottom: 10px;
	}	
	
	header img {
		float: none;
	}
	
	.col {
		float: none;
		width: 100%;
	}
	
	
	
	
	
	
	
}