@import url(https://fonts.googleapis.com/css?family=Bitter);

header, nav, section, footer {
	display: block;
}

body {
	font-family: "Bitter", Verdana, Arial, Helvetica, sans-serif; 
	font-size: 100%;
	width: 760px;
	display: block;
	margin: 0 auto;
	padding-top: 25px;
	background-color: #FFFCD0;
	/* text-align: center; */
}

#menutoggle	{
	display: none;
}

header, section, footer	{
	padding: 0 20px;
}

header a:link, section a:link {
	color: #000000;
}

header a:visited, section a:visited {
	color: #aaa;
}

header a:hover, section a:hover {
	text-decoration: none;
}

hr {
	border-color: #000000;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 4px;
	clear: both;
}

.slim {
	border-color: #000000;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 2px;
	clear: both;
}


h1	{
	font-size: 300%;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px #bbb;
	text-align: center;
	color: #000000;
}

header address	{
	margin-top: 0;
}

address	{
	font-style: normal; 
}

section padding {
	margin-top:	0;
	margin-bottom: 4px;
}

h2	{
	font-size: 200%;
	margin-bottom: 4px;
	text-align: center;
}

h3	{
	margin-top: 0;
	margin-bottom: 10px;
}

h4	{
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
}

/*section ul	{
	margin-top: 16px;
	margin-bottom: 4px;
}*/

.title {
	font-weight: bold;
}

.place {
	font-style: italic;
}

.col {
	float: left;
	width: 32%;
	margin-right: 1%;
	margin-bottom: 40px;
}


/*div {
	display: block;
}*/

#ref address{
	margin-top: 0;
	margin-bottom: 10px;
}

#icons a {
	display: inline-block;
	height: 25px;
	width: 25px;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

footer	{
	text-align: center; 
	margin-top:	40px;
	font-size: 80%;
	background-color: #FFFCD0;
	padding-top: 4px;
	padding-bottom: 4px;
	height: 1000px;
}


footer p	{
	margin-top: 0;
	margin-bottom: 0;
}

footer a	{
	color: #000000;
	
}

@media screen and (max-width:800px) {
	
	#menutoggle{
		display: initial;
		cursor: pointer;
	}
	
	.nav-collapse ul {
		margin: 0;
	}
	
	.nav-collapse ul li {
		display: block;
	}
	
	.nav-collapse a:link, .nav-collapse a:visited {
		display: block;
		padding: 0;
	}
	
	.nav-collapse a:hover {
		height: 100%;
	}
	
}

@media screen and (max-width:700px) {
	
	header {
		text-align: center;
		border-bottom: solid 2px #000;
		padding-bottom: 10px;
	}	
	
	header img {
		float: none;
	}
	
	.col {
		float: none;
		width: 100%;
	}	
}